body {
  font-family: "Poppins", sans-serif;
}

.nav-item a {
  color: #c0c7c9;
}

#header-links a {
  color: #575757;
  font-family: "Poppins", sans-serif;
}
#header-links a:hover {
  color: #ea809e;
  transform: scale(1.1);
}

#sign-login a {
  color: #575757;
  font-family: "Poppins", sans-serif;
}

#sign-login a:hover {
  color: #ea809e;
  transform: scale(1.1);
}

#cus-table th {
  background-color: #b6b6b6;
  color: #000000;
}

#table {
  font-family: "Poppins", sans-serif;
}

#content-box {
  background-color: #b6b6b6;
}

#topic {
  background-color: #f2f3f3;
}

#btn button {
  font-family: "Poppins", sans-serif;
  font-size: bold;
  color: #474747;
  background-color: #b6b6b6;
}

#btn button:hover {
  background-color: #ea809e;
  color: white;
  transform: scale(1.1);
}

#sub-btn button {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #ea809e;
}

#sub-btn button:hover {
  background-color: #ea809ec9;
}

#c-tb tr td {
  color: #474747;
}
